/* DEVELOPER: Andrew Gonzalez, IS-117-005, Fall 2020 */

.container-fluid{
    color: white;
}

.carousel{
    padding-bottom: 38px;
}

.btn {
    float: right;
}
.btn-margin-left {
    margin-left: 20px;
}

#h4_contact {
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}